.corporation {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f4;
  padding: 0 3rem;
  border: 1px solid #cccccc;
  border-top: 0;
  border-left: 0;
}

.corporation img {
  object-fit: contain;
}

@media (max-width: 1040px) {
  .corporation:nth-of-type(3n + 1) {
    border-right: 0;
  }
}

@media (min-width: 1040px) {
  .corporations {
    grid-template-columns: repeat(9, 1fr);
  }
  .corporation:nth-of-type(9n + 1) {
    border-right: 0;
  }
}
