.shopping-cart__payment-modal {
  color: var(--blue-color);
}

.shopping-cart__payment-modal .modal-content {
  padding: 1rem 3rem;
}

.blue-btn {
  background-color: #33a0ff;
  color: #fff;
  padding: 0.7rem 7rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
}

.shopping-cart__payment-modal .payment-mdoal-form input:not([type="checkbox"]),
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  border: 0;
  outline: 0;
  color: #999999;
}

.success-icon {
  width: 13rem;
  height: 13rem;
}
.payment-methods__check-icon {
  /* background-color: red; */
  width: 2rem;
  height: 2rem;
}
.payment-methods input[type="checkbox"] {
  position: relative;
  visibility: hidden;
  /* opacity: 0; */
}


.payment-methods input[type="checkbox"]::before {
  position: absolute;
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  border-radius: .2rem;
  border: 2.3px solid #33a0ff;
  top: 0;
  cursor: pointer;
  visibility: visible;
  display: grid;
  place-content: center;
}

.payment-methods input[type="checkbox"]:checked:before {
  content: "\f14a";
  font-family: "Font Awesome 6 Free";
  font-size: 2.2rem;
  line-height: .3;
  color: #33a0ff;
}

.payment-method {
  padding: 1rem;
  cursor: pointer;
}
.payment-method.active {
  background-color: #ebf0ff;
}

/* stepper styles */
.payment-stepper .MuiStep-root,
.payment-stepper .MuiStepLabel-iconContainer {
  padding: 0;
}
.payment-stepper .MuiStepper-root {
  width: 15.6rem;
  margin: 0 auto;
}

.payment-stepper .MuiSvgIcon-root {
  width: 3.6rem;
  height: 3.6rem;
}

.payment-stepper .MuiSvgIcon-root circle {
  fill: #dfdede;
}

.payment-stepper .MuiStepIcon-root.Mui-active circle {
  fill: var(--blue-color);
}

.payment-stepper .MuiStepIcon-root.Mui-completed {
  color: var(--blue-color);
}

.payment-stepper .MuiStepIcon-text {
  font-family: "ShabnamLight";
  font-size: 1.2rem;
}
